﻿﻿@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using Projet_Web_Commerce.Data
@using System.Text
@model PPMessages
@inject AuthDbContext _context
@inject UserManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> UserManager
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

@{
    ViewData["Title"] = "Envoyer un message";

    var user = await UserManager.GetUserAsync(User);

    List<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> listeUtilisateurs = new List<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur>();

    var listVendeurs = _context.PPVendeurs;
    var listGestionnaires = _context.PPGestionnaire;
    var listClients = _context.PPClients;

    var role = "";

    if (User.IsInRole("Client"))
    {
        foreach (PPVendeurs vendeur in listVendeurs)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == vendeur.AdresseEmail).FirstOrDefault());
        }
        foreach (PPGestionnaire gestionnaire in listGestionnaires)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == gestionnaire.AdresseEmail).FirstOrDefault());
        }
    }
    else if (User.IsInRole("Vendeur"))
    {
        foreach (PPClients client in listClients)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == client.AdresseEmail).FirstOrDefault());
        }
        foreach (PPGestionnaire gestionnaire in listGestionnaires)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == gestionnaire.AdresseEmail).FirstOrDefault());
        }
    }
    else
    {
        role = "gestionnaire";
        foreach (PPVendeurs vendeur in listVendeurs)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == vendeur.AdresseEmail).FirstOrDefault());
        }
        foreach (PPClients client in listClients)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == client.AdresseEmail).FirstOrDefault());
        }
        foreach (PPGestionnaire gestionnaire in listGestionnaires)
        {
            listeUtilisateurs.Add(_context.Users.Where(v => v.Email == gestionnaire.AdresseEmail).FirstOrDefault());
        }
    }
}

<style>
    .container {
        width: 300px;
        margin: 50px auto;
    }

    .ddl-container {
        position: relative;
    }

        .ddl-container select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }

    .selected-names {
        /* display: flex;
        flex-wrap: wrap; */
    }

        .selected-names span {
            display: inline-block;
            background-color: #ddd;
            padding: 5px 5px;
            margin: 2px;
            border-radius: 5px;
        }

    .delete-icon {
        cursor: pointer;
        margin-left: 5px;
    }

    textarea {
        resize: vertical;
        /* height: 120px;
        width: 100%; */
    }

    .mesBtns {
        color: rgb(249, 229, 71);
        background-color: rgb(124, 105, 146);
    }
        
        .mesBtns:hover {
            color: rgb(124, 105, 146);
            background-color: rgb(249, 229, 71);
        }
</style>

@if (TempData["MsgStatut"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MsgStatut"]
    </div>
}

@{
    var sujet = "";
    var message = "";
    var pieceJointe = "";

    if (Model != null)
    {
        sujet = Model.Sujet;
        message = Model.Message;
        pieceJointe = Model.PieceJointe == null ? "" : Model.PieceJointe;
    }

    if (ViewBag.Sujet != null)
    {
        sujet = ViewBag.Sujet;
    }
}

<div class="row">
    <div class="col">
        <section>
            <div>
                @Html.Partial("MenuMessagerie", "EnvoyerMessage")
            </div>
            <div class="card border-1" style="border-color:rgb(124, 105, 146);">
                <form id="frmCourriel" method="post" asp-route-envoyeur="@user.Email" enctype="multipart/form-data"><!-- onsubmit="return soumettreForm()" -->
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-title">Envoyer un message</h2>
                            <a id="btnEnregistrer" class="btn btn-lg btn-primary mesBtns">Enregistrer le brouillon</a>
                        </div>
                        <hr />
                        <div class="form-floating mb-3">
                            <div class="card">
                                <div class="card-header">
                                    Envoyer à
                                </div>
                                <div class="card-body">
                                    <select name="ddlClients" id="ddlClients" onchange="ajouterDestinataire()">
                                        <option value=""></option>
                                    @foreach (var utilisateur in listeUtilisateurs)
                                    {
                                        @if (await UserManager.IsInRoleAsync(utilisateur, "Vendeur"))
                                        {
                                            <option value="@utilisateur.Email">@utilisateur.Email - Vendeur</option>
                                        }
                                        else if (await UserManager.IsInRoleAsync(utilisateur, "Client"))
                                        {
                                            <option value="@utilisateur.Email">@utilisateur.Email - Client</option>
                                        }
                                        else
                                        {
                                            <option value="@utilisateur.Email">@utilisateur.Email - Gestionnaire</option>
                                        }
                                    }
                                    </select>
                                    <br />
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="chkToutLeMonde" onclick="ajouterToutLeMonde()">
                                        <label class="form-check-label" for="chkToutLeMonde">
                                            Envoyer à tout le monde
                                        </label>
                                    </div>
                                    <div class="form-check" style="@(role == "gestionnaire" ? "display:block" : "display:none")">
                                        <input class="form-check-input" type="checkbox" id="chkTousLesVendeurs" onclick="ajouterTousLesVendeurs()">
                                        <label class="form-check-label" for="chkTousLesVendeurs">
                                            Envoyer à tous les vendeurs
                                        </label>
                                    </div>
                                    <div class="form-check" style="@(role == "gestionnaire" ? "display:block" : "display:none")">
                                        <input class="form-check-input" type="checkbox" id="chkTousLesClients" onclick="ajouterTousLesClients()">
                                        <label class="form-check-label" for="chkTousLesClients">
                                            Envoyer à tous les clients
                                        </label>
                                    </div>
                                    <div class="selected-names" id="selectedNamesContainer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="sujet" id="sujet" class="form-control" aria-required="true" value="@sujet" />
                            <label class="form-label">Le sujet</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea title="Message" name="message" id="message" class="form-control" style="height: 200px">@message</textarea>
                            <label class="form-label">Votre message</label>
                        </div>
                        <div style="border:solid 1px; border-color: lightgray; border-radius: 5px; padding-left: 10px; padding-top: 5px; padding-bottom: 10px;">
                            <label class="form-label" style="color: grey; font-size: 14px;">Pièce jointe</label>
                            <br />
                            @if (pieceJointe != "")
                            {
                                <a class="btn btn-lg btn-primary mesBtns" name="btnModifierPieceJointe" id="btnModifierPieceJointe" onclick="modifierPieceJointe()">Modifier</a>
                                <a class="btn btn-lg btn-primary mesBtns" name="btnSupprimerPieceJointe" id="btnSupprimerPieceJointe" onclick="supprimerPieceJointe()">Supprimer</a>

                                <br />
                            }
                            <input type="file" name="pieceJointe" id="pieceJointe" value="@pieceJointe" class="form-control">
                        </div>
                        <br />
                        <br />
                        <div class="form-floating">
                            <a id="btnEnvoyer" class="w-100 btn btn-lg btn-primary mesBtns">Envoyer</a>
                        </div>
                        <input type="hidden" name="selectedDestinataire" id="selectedDestinataire" value="" />
                        <input type="hidden" name="auteur" id="auteur" value="" />
                        <input type="hidden" name="typeMessage" id="typeMessage" value="" />
                        <input type="hidden" name="idMessage" id="idMessage" value="" />
                        <input type="hidden" name="typeMessageStr" id="typeMessageStr" value="" />
                        <input type="hidden" name="supprimerPieceJointe" id="supprimerPieceJointe" value="false" />
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (@(pieceJointe != "" ? "true" : "false") === true) {
            document.getElementById('pieceJointe').style.display = "none";
        }


        if (@(ViewBag.Dests != null ? "true" : "false") === true) {

            var dests = @Html.Raw(Json.Serialize(ViewBag.Dests));
            var dropdown = document.getElementById("ddlClients");
            for (var i = 0; i < dests.length; i++) {
                for (var j = 0; j < dropdown.length; j++) {
                    if (dests[i] == dropdown.options[j].value) {
                        dropdown.selectedIndex = j;
                        ajouterDestinataire();
                    }
                }
            }
            dropdown.selectedIndex = 0;
        }
    });

    function ajouterToutLeMonde() {
        document.getElementById('chkTousLesVendeurs').checked = false;
        document.getElementById('chkTousLesClients').checked = false;
        var dropdown = document.getElementById("ddlClients");

        if (document.getElementById("chkToutLeMonde").checked) {
            // Si la case à cocher est cochée, ajoute tous les destinataires
            for (var i = 1; i < dropdown.options.length; i++) {
                // Ignorer l'option vide
                if (dropdown.options[i].value) {
                    dropdown.selectedIndex = i;
                    ajouterDestinataire();
                }
            }
        } else
            retirerDestinataires();

        // Réinitialiser la sélection à l'option vide après avoir ajouté ou supprimé tous les destinataires
        dropdown.selectedIndex = 0;
    }

    function ajouterTousLesVendeurs() {
        retirerDestinataires();

        document.getElementById('chkToutLeMonde').checked = false;
        document.getElementById('chkTousLesClients').checked = false;

        var dropdown = document.getElementById("ddlClients");

        if (document.getElementById("chkTousLesVendeurs").checked) {
            for (var i = 1; i < dropdown.options.length; i++) {
                if (dropdown.options[i].value && dropdown.options[i].innerHTML.includes('Vendeur')) {
                    dropdown.selectedIndex = i;
                    ajouterDestinataire();
                }
            }
        } else
            retirerDestinataires();

        dropdown.selectedIndex = 0;
    }

    function ajouterTousLesClients() {
        retirerDestinataires();

        document.getElementById('chkToutLeMonde').checked = false;
        document.getElementById('chkTousLesVendeurs').checked = false;

        var dropdown = document.getElementById("ddlClients");

        if (document.getElementById("chkTousLesClients").checked) {
            for (var i = 1; i < dropdown.options.length; i++) {
                if (dropdown.options[i].value && dropdown.options[i].innerHTML.includes('Client')) {
                    dropdown.selectedIndex = i;
                    ajouterDestinataire();
                }
            }
        } else
            retirerDestinataires();

        dropdown.selectedIndex = 0;
    }

    function retirerDestinataires() {
        // Si la case à cocher est décochée, supprime tous les destinataires
        var selectedNamesContainer = document.getElementById("selectedNamesContainer");
        selectedNamesContainer.innerHTML = "";
        selectedDestinataire.value = "";
    }

    function ajouterDestinataire() {
        var dropdown = document.getElementById("ddlClients");
        var selectedValue = dropdown.options[dropdown.selectedIndex].value;

        // Vérifier si la personne est déjà sélectionnée
        if (selectedDestinataire.value.includes(selectedValue)) {
            // alert("Cette personne est déjà sélectionnée.");
            dropdown.selectedIndex = 0;
            return;
        }

        if (selectedValue) {
            var selectedNamesContainer = document.getElementById("selectedNamesContainer");

            var nameElement = document.createElement("span");
            nameElement.innerHTML = selectedValue;

            var deleteIcon = document.createElement("span");
            deleteIcon.innerHTML = " &#10006;";
            deleteIcon.className = "delete-icon";
            deleteIcon.onclick = function () {
                let option = document.createElement("option");
                option.text = nameElement.firstChild.textContent;
                option.value = option.text;
                // dropdown.add(option);
                selectedNamesContainer.removeChild(nameElement);
                selectedDestinataire.value = selectedDestinataire.value.replace(nameElement.firstChild.textContent + ';', '');
            };

            selectedDestinataire.value += nameElement.innerHTML + ';';
            nameElement.appendChild(deleteIcon);
            selectedNamesContainer.appendChild(nameElement);

            dropdown.selectedIndex = 0;
        }
    }

    document.getElementById("btnEnregistrer").addEventListener("click", btnEnregistrerClick);

    function btnEnregistrerClick() {
        var destinataires = document.getElementById('selectedDestinataire').value;
        var sujet = document.getElementById('sujet').value;
        var msg = document.getElementById('message').value
        if (destinataires == '' && sujet == '' && msg == '') {
            Swal.fire({
                title: "Erreur!",
                text: "Vous devez entrer au moins une donnée pour sauvegarder un brouillon",
                icon: "error"
            });
        }
        else {
            var params = new URLSearchParams(document.location.search);
            var idMessage = params.get('idMessage');
            var typeMessageStr = params.get('typeMessage')
            var destinatairesSelectionnes = destinataires.split(';');
            for (var i = 0; i < destinatairesSelectionnes.length; i++) {
                if (destinatairesSelectionnes[i] == '')
                    destinatairesSelectionnes.splice(i, 1);
            }

            document.getElementById('selectedDestinataire').value = destinatairesSelectionnes;

            document.getElementById('auteur').value = '@user.Email';
            document.getElementById('typeMessage').value = 2;
            document.getElementById('idMessage').value = idMessage;
            document.getElementById('typeMessageStr').value = typeMessageStr;
            document.getElementById("btnEnregistrer").removeEventListener("click", btnEnregistrerClick);

            document.getElementById('frmCourriel').submit();
        }
    }

    document.getElementById("btnEnvoyer").addEventListener("click", btnEnvoyerClick);

    function btnEnvoyerClick() {
        var sujet = document.getElementById('sujet').value;
        var msg = document.getElementById('message').value
        if (sujet == '') {
            Swal.fire({
                title: "Erreur!",
                text: "Vous devez entrer un objet pour le message!",
                icon: "error"
            });
        }
        else if (msg == '') {
            Swal.fire({
                title: "Erreur!",
                text: "Vous devez entrer un message à envoyer!",
                icon: "error"
            });
        }
        else {
            var params = new URLSearchParams(document.location.search);
            var idMessage = params.get('idMessage');
            var typeMessageStr = params.get('typeMessage')
            var destinatairesSelectionnes = document.getElementById('selectedDestinataire').value.split(';');
            for (var i = 0; i < destinatairesSelectionnes.length; i++) {
                if (destinatairesSelectionnes[i] == '')
                    destinatairesSelectionnes.splice(i, 1);
            }
            document.getElementById('selectedDestinataire').value = destinatairesSelectionnes;
            document.getElementById('auteur').value = '@user.Email';
            document.getElementById('typeMessage').value = 0;
            document.getElementById('idMessage').value = idMessage;
            document.getElementById('typeMessageStr').value = typeMessageStr;

            var valide = true;
            var msgErreur = "";

            if (selectedDestinataire.value == '') {
                msgErreur = "Veuillez sélectionner le(s) destinataire(s) de votre courriel.";
                valide = false;
            }

            if (valide) {
                document.getElementById("btnEnvoyer").removeEventListener("click", btnEnvoyerClick);
                document.getElementById('frmCourriel').submit();
            }
            else {
                console.log("pas valide");
                Swal.fire({
                    title: "Erreur!",
                    text: msgErreur,
                    icon: "error"
                }).then(() => {
                    // return false;
                });
            }
        }
    }

    function modifierPieceJointe() {
        var stylePieceJointe = document.getElementById('pieceJointe').style;
        if (stylePieceJointe.display == 'inline')
            stylePieceJointe.display = 'none';
        else if (stylePieceJointe.display == 'none') {
            stylePieceJointe.display = 'inline';
        }
    }

    function supprimerPieceJointe() {
        document.getElementById('supprimerPieceJointe').value = "true";
    }

</script>
