﻿﻿@using Microsoft.AspNetCore.Identity
@using Projet_Web_Commerce.Data
@model List<PPMessages>
@inject AuthDbContext _context

@{
    ViewData["Title"] = "Messages envoyés";
}

<style>
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }

    .truncateDest {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    .msg {
        color: gray;
    }

    .flotter:hover {
        background-color: rgb(236, 235, 243);
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col">
        <section>
            <div>
                @Html.Partial("MenuMessagerie", "Envoyes")
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Destinataire(s)</th>
                                <th scope="col">Objet - <span class="msg">Message</span></th>
                                <th scope="col" class="ms-auto">Date de l'envoi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var no = 0;
                            }
                            @foreach (var msg in Model)
                            {
                                var idDestinataires = msg.Destinataires.Select(d => d.Destinataire);
                                <tr class="flotter" onclick="window.location.href = '@Url.Action("Details", new { idMessage = msg.NoMessage })'">
                                    <td>@(++no)</td>
                                    <td class="truncateDest">
                                        @{
                                            var destinataires = idDestinataires
                                                .Select(dest => _context.Users.FirstOrDefault(u => u.Id == dest)?.Email)
                                                .Where(email => !string.IsNullOrWhiteSpace(email));

                                            var dests = string.Join(", ", destinataires);
                                        }
                                        @dests
                                    </td>

                                    <td class="truncate">@Html.DisplayFor(modelItem => msg.Sujet) - <span class="msg">@Html.DisplayFor(modelItem => msg.Message)</span></td>
                                    <td class="ms-auto">@DateTime.Now.Date</td>
                                    @* <td>@msg.DateMessage.ToShortDateString()</td> *@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
