@model IEnumerable<Projet_Web_Commerce.Models.PPCategories>
@{
    ViewData["Title"] = "Liste des catégories";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des catégories</title>
</head>
<body>
    <h2>Liste des catégories</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter une nouvelle catégorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoCategorie" class="btn btn-primary">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.NoCategorie" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
