@page
@model ProfilVendeurModel
@inject AuthDbContext _context
@using Projet_Web_Commerce.Data
@{
    ViewData["Title"] = "Modifier le profil";
    ViewData["ActivePage"] = ManageNavPages.ProfilVendeur;

    var vendeur = _context.PPVendeurs.Where(v => v.AdresseEmail == Model.Courriel).FirstOrDefault();
    decimal moyenne = 0;
    var nb = 0;
    var nbEval = 0;

    foreach (var produit in _context.PPProduits.Where(p=>p.NoVendeur == vendeur.NoVendeur))
    {
        var nbEvalActu = _context.PPEvaluations.Where(e => e.NoProduit == produit.NoProduit).ToList().Count;
        nbEval += nbEvalActu;
        if (nbEvalActu > 0)
        {
            decimal moyenneProduit = _context.PPEvaluations.Where(e => e.NoProduit == produit.NoProduit).Average(z => z.Cote);
            moyenne += moyenneProduit;
            nb++;
        }
    }
    string moyAffiche = "";
    if (nbEval > 0)
    {
        moyenne = moyenne / nb;
        moyAffiche = "Votre cote moyenne est " + Math.Round(moyenne, 2).ToString("F2").TrimEnd('0', ',') + " étoiles!";
    }
    else
    {
        moyAffiche = "Vous n'avez pas encore d'évaluations";
    }

}

<h3>@moyAffiche</h3>
<partial name="_StatusMessage" for="StatusMessage" />
@* <div class="container"> *@
    <form id="profile-form" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Courriel" class="form-control" value="@Model.Courriel" disabled />
                    <label asp-for="Courriel" class="form-label"></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.NomAffaires" class="form-control" placeholder="Veuillez entrer votre nom d'affaires" />
                    <label asp-for="Input.NomAffaires" class="form-label"></label>
                    <span asp-validation-for="Input.NomAffaires" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Nom" class="form-control" placeholder="Veuillez entrer votre nom." />
                    <label asp-for="Input.Nom" class="form-label"></label>
                    <span asp-validation-for="Input.Prenom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.PoidsMaxLivraison" class="form-control" />
                    <label asp-for="Input.PoidsMaxLivraison" class="form-label"></label>
                    <span asp-validation-for="Input.PoidsMaxLivraison" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Prenom" class="form-control" />
                    <label asp-for="Input.Prenom" class="form-label"></label>
                    <span asp-validation-for="Input.Prenom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.LivraisonGratuite" class="form-control" type="number" min="0" step="any" data-val="true" required />                 
                    <label asp-for="Input.LivraisonGratuite" class="form-label"></label>
                    <span asp-validation-for="Input.LivraisonGratuite" class="text-danger"></span>
                </div>
            </div>
           
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Rue" class="form-control" />
                    <label asp-for="Input.Rue" class="form-label"></label>
                    <span asp-validation-for="Input.Rue" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select asp-for="Input.Taxes" class="form-control" disabled>
                        <option value="@true">Oui</option>
                        <option value="@false">Non</option>
                    </select>
                    <label asp-for="Input.Taxes" class="form-label"></label>
                    <span asp-validation-for="Input.Taxes" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Ville" class="form-control" />
                    <label asp-for="Input.Ville" class="form-label"></label>
                    <span asp-validation-for="Input.Ville" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Pourcentage" class="form-control" value="@Model.Input.Pourcentage" disabled/>
                    <label asp-for="Input.Pourcentage" class="form-label">Taux de redevance (%)</label>
                    @* <span asp-validation-for="Input.Pourcentage" class="text-danger"></span> *@
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select asp-for="Input.Province" class="form-control">
                        <option value="AB">Alberta</option>
                        <option value="BC">Colombie-Britannique</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">Nouveau-Brunswick</option>
                        <option value="NL">Terre-Neuve-et-Labrador</option>
                        <option value="NS">Nouvelle-Écosse</option>
                        <option value="NT">Territoires du Nord-Ouest</option>
                        <option value="NU">Nunavut</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Île-du-Prince-Édouard</option>
                        <option value="QC">Québec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="YT">Yukon</option>
                    </select>
                    <label asp-for="Input.Province" class="control-label"></label>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.CodePostal" class="form-control" placeholder="Veuillez entrer votre code postal" />
                    <label asp-for="Input.CodePostal" class="form-label"></label>
                    <span asp-validation-for="Input.CodePostal" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Pays" class="form-control" placeholder="Veuillez entrer votre pays" disabled value="Canada" />
                    <label asp-for="Input.Pays" class="form-label"></label>
                    <span asp-validation-for="Input.Pays" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Telephone" class="form-control" placeholder="Veuillez entrer votre numéro de téléphone" />
                    <label asp-for="Input.Telephone" class="form-label"></label>
                    <span asp-validation-for="Input.Telephone" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Cellulaire" class="form-control" placeholder="Veuillez entrer votre cellulaire" />
                    <label asp-for="Input.Cellulaire" class="form-label"></label>
                    <span asp-validation-for="Input.Cellulaire" class="text-danger"></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Enregistrer</button>
        </div>
    </form>
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
