@model Projet_Web_Commerce.Models.ModelListeVendeurs
@{
    ViewData["Title"] = "Liste des redevances";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<div class="row">
    <div class="col">
        <section>
            <div>
                @Html.Partial("GestionVendeursPages", "ListeRedevances")
            </div>

            <div class="container mt-4">
                @{
                    var monthNames = new string[] { "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" };
                }
                @for (int i = 0; i < Model.MoisAnneesDistinctsList.Count; i++)
                {
                    var date = Model.MoisAnneesDistinctsList[i];
                    var redevancesForMonth = Model.Redevances[i];
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><u>@monthNames[date.Mois - 1] @date.Annee</u></h4>
                            <table class="table" id="redevanceTable_@i">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">No de vendeur</th>
                                        <th scope="col">Nom d'affaires</th>
                                        <th scope="col">Date de création</th>
                                        <th scope="col">Pourcentage</th>
                                        <th scope="col">Montant Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var no = 0;
                                    }
                                    @for (int j = 0; j < Model.VendeursList.Count; j++)
                                    {
                                        var vendeur = Model.VendeursList[j];
                                        var redevance = redevancesForMonth[j];
                                        if (redevance > 0 && redevance != null)
                                        {
                                            <tr>
                                                <td>@(++no)</td>
                                                <td>@Html.DisplayFor(modelItem => vendeur.NoVendeur)</td>
                                                <td>@Html.DisplayFor(modelItem => vendeur.NomAffaires)</td>
                                                <td>@Html.DisplayFor(modelItem => vendeur.DateCreation)</td>
                                                <td>@Html.DisplayFor(modelItem => vendeur.Pourcentage) %</td>
                                                <td>@(redevance.HasValue ? redevance.Value.ToString("0.00") : "") $</td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                }
                @if (Model.MoisAnneesDistinctsList.Count() == 0)
                {
                    <p>Il n'y a aucun Vendeurs</p>
                }
            </div>
        </section>
    </div>
</div>

<script>
    function sortRedevance(order, tableId) {
        var rows = document.querySelectorAll(`#${tableId} tbody tr`);
        var sortedRows = Array.from(rows).sort((a, b) => {
            var aValue = parseFloat(a.querySelector('td:nth-child(7)').textContent);
            var bValue = parseFloat(b.querySelector('td:nth-child(7)').textContent);
            if (order === 'asc') {
                return aValue - bValue;
            } else {
                return bValue - aValue;
            }
        });
        var tbody = document.querySelector(`#${tableId} tbody`);
        tbody.innerHTML = '';
        sortedRows.forEach(row => tbody.appendChild(row));
    }

    function sortName(order, tableId) {
        var rows = document.querySelectorAll(`#${tableId} tbody tr`);
        var sortedRows = Array.from(rows).sort((a, b) => {
            var aName = a.querySelector('td:nth-child(3)').textContent.trim();
            var bName = b.querySelector('td:nth-child(3)').textContent.trim();
            if (order === 'asc') {
                return aName.localeCompare(bName);
            } else {
                return bName.localeCompare(aName);
            }
        });
        var tbody = document.querySelector(`#${tableId} tbody`);
        tbody.innerHTML = '';
        sortedRows.forEach(row => tbody.appendChild(row));
    }
</script>

