@model Projet_Web_Commerce.Models.ModelListeVendeurs
@{
    ViewData["Title"] = "Liste des vendeurs";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


<div class="row">
    <div class="col">
        <section>
            <div>
                @Html.Partial("GestionVendeursPages", "ListeVendeurs")
            </div>
            
            <div class="container mt-4">
                @foreach (var date in Model.MoisAnneesDistinctsList)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><u>@date.Mois/@date.Annee</u></h4>
                            @{
                                var groupeParAnnee = Model.VendeursList
                                .Where(item => item.DateCreation.Month == date.Mois && item.DateCreation.Year == date.Annee)
                                .ToList();
                            }
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">No de vendeur</th>
                                        <th scope="col">Courriel</th>
                                        <th scope="col">Nom d'affaires</th>
                                        <th scope="col">Date de création</th>
                                        <th scope="col">Nb de produits inscrits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var no = 0;
                                    }
                                    @foreach (var item in groupeParAnnee)
                                    {
                                        <tr>
                                            <td>@(++no)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NoVendeur)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdresseEmail)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NomAffaires)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DateCreation)</td>
                                            <td>@Model.ProduitsList.Count(modelItem => modelItem.NoVendeur == item.NoVendeur)</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                }
                @* <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">No de vendeur</th>
                            <th scope="col">Nom d'affaires</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Nb de produits inscrits</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table> *@
            </div>
        </section>
    </div>
</div>

<script>
    function lstVendeursAConfirmer() {
        window.location = "https://localhost:44376/PPGestionnaires/ListeVendeursAConfirmer"
    }
</script>
