@model Projet_Web_Commerce.Models.ModelCatalogue
@using Projet_Web_Commerce.Data
﻿﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> UserManager
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager
@using System.IO
@inject AuthDbContext _context
@inject IWebHostEnvironment env
@{
    PPVendeurs vendeur = Model.VendeursList.Where(p => p.NoVendeur == ViewBag.VendeurId).FirstOrDefault();
    var datePlusVieille = DateTime.Now;

    decimal? totalPrice = 0;
    decimal? totalPoids = 0;
    var nbTotal = 0;

    foreach (PPArticlesEnPanier article in ViewBag.Panier)
    {
        nbTotal += article.NbItems;
        var item = _context.PPProduits.FirstOrDefault(p => p.NoProduit == article.NoProduit);
        if (item != null)
        {
            totalPrice += item.PrixVente * article.NbItems;
        }
        else
        {
            totalPrice += item.PrixDemande * article.NbItems;
        }
        totalPoids += item.Poids * article.NbItems;
    }

    decimal? tps = totalPrice * 0.05m;
    decimal? tvq = totalPrice * 0.09975m;

    decimal? prixFinal = totalPrice;
    }
    @if (!SignInManager.IsSignedIn(User) || User.IsInRole("Vendeur") || User.IsInRole("Gestionnaire"))
    {
        Console.WriteLine("yes");
        <text>
            <script>
                debugger;
                window.location.href = '/MainMenu/Catalogue';
            </script>
        </text>
    }
    else
    {
        var user = await UserManager.GetUserAsync(User);
        var client = _context.PPClients.Where(p => p.AdresseEmail == user.Email).FirstOrDefault();

    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            @if (vendeur != null)
                                            {
                                            <h1 class="fw-bold mb-0 text-black">Panier associé à @vendeur.NomAffaires</h1>
                                            }
                                            <h6 class="mb-0 text-muted">@Html.DisplayFor(modelItem => nbTotal) Items</h6>
                                        </div>
                                        <hr class="my-4">

                                        @foreach(PPArticlesEnPanier articles in ViewBag.Panier)
                                        {

                                            if (articles.DateCreation < datePlusVieille)
                                            {
                                                datePlusVieille = articles.DateCreation;
                                            }

                                            var item = _context.PPProduits.FirstOrDefault(p => p.NoProduit == articles.NoProduit);

                                            var path = System.IO.Path.Combine(env.WebRootPath, "Logo", item.Photo);
                                            string imagePath = item.Photo != null && File.Exists(path) ? $"~/Logo/{item.Photo}" : "~/Logo/DefaultImage.png";
                                            Console.WriteLine("FILE Name : " + item.Photo);
                                            Console.WriteLine("FILE : " + File.Exists(path));

                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img class="img-fluid rounded-3"src="@Url.Content(imagePath)" alt="@item.Photo" width="100" height="120" />
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@_context.PPCategories.Where(c => c.NoCategorie == item.NoCategorie).FirstOrDefault().Description</h6>
                                                    <h6 class="text-black mb-0">@Html.DisplayFor(modelItem => item.Nom)</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <button class="btn btn-link px-2"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                        <i class="fas fa-minus"></i>
                                                    </button>

                                                    <form asp-route-id="@articles.NoPanier" asp-route-delete="false" asp-route-vendeur="@articles.NoVendeur" asp-action="Index">
                                                        <input type="number" class="form-control form-control-sm"name="nb" value="@articles.NbItems" onchange="this.form.submit()" min="1" max="@articles.PPProduits.NombreItems" />
                                                    </form>
                                                    <button class="btn btn-link px-2"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    
                                                        @if (item.PrixVente != null)
                                                        {
                                                            var prix = item.PrixVente * articles.NbItems;
                                                            <h6 class="mb-0">
                                                                @Html.DisplayFor(modelItem => prix) $
                                                            </h6>
                                                        }
                                                        else
                                                        {
                                                            var prix = item.PrixDemande * articles.NbItems;
                                                            <h6 class="mb-0">
                                                            @Html.DisplayFor(modelItem => prix) $
                                                            </h6>
                                                        }
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                                    <form asp-route-id="@articles.NoPanier" asp-route-delete="true" asp-route-vendeur="@articles.NoVendeur" asp-action="Index" method="post">
                                                        <button type="submit" class="submit-button">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                            <hr class="my-4">
                                        }


                                        <div class="pt-5">
                                            <h6 class="mb-0">
                                                <a class="nav-link text-body" asp-area="" asp-controller="Paniers" asp-action="Index">
                                                    <i class="fas fa-long-arrow-alt-left me-2"></i>Retour à la liste des paniers
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Sommaire</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Poids Total</h5>
                                            <h5>@Html.DisplayFor(modelItem => totalPoids) Kg</h5>
                                        </div>



                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Date création</h5>
                                            <h5>
                                                @datePlusVieille.ToString("dd/MM/yyyy")
                                            </h5>
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">@Html.DisplayFor(modelItem => nbTotal) Items</h5>
                                            <h5>@Html.DisplayFor(modelItem => totalPrice) $</h5>
                                        </div>

                                        @if (vendeur.Taxes == true)
                                        {
                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase">TPS</h5>
                                                <h5>
                                                    @if (tps.HasValue)
                                                    {
                                                        prixFinal += tps;
                                                        decimal r = Math.Round(tps.Value, 2);
                                                        @Html.DisplayFor(modelItem => r)

                                                        

                                                    }
                                                $</h5>
                                            </div>
                                        
                                            var quebecProvince = _context.Province.FirstOrDefault(p => p.ProvinceID == "QC");
                                        
                                        

                                            if (vendeur.Province == quebecProvince)
                                            {
                                                <div class="d-flex justify-content-between mb-4">
                                                    <h5 class="text-uppercase">TVQ</h5>
                                                    <h5>
                                                        @if (tvq.HasValue)
                                                        {
                                                            prixFinal += tvq;

                                                            decimal r = Math.Round(tvq.Value, 2);
                                                            @Html.DisplayFor(modelItem => r)

                                                            
                                                        }
                                                        $
                                                    </h5>
                                                </div>
                                                totalPrice += tvq;
                                            }
                                        }
                                        else
                                        {
                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase" style="color:red; font-size:15px">Aucune taxe applicable pour se vendeur</h5>
                                            </div>
                                        }

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Prix total</h5>
                                            @if (prixFinal.HasValue)
                                            {
                                                <h5>@Math.Round(prixFinal.Value, 2) $</h5>
                                            }
                                        </div>

                                        <div class="text-center">
                                            <form asp-controller="Panier" id="formAjoutPanier" asp-action="ConfirmerCommande" method="get">

                                                <input type="hidden" name="NoVendeur" value="@vendeur.NoVendeur" />
                                                <input type="hidden" name="NoClient" value="@client.NoClient" />

                                                <button type="submit" class="btn btn-dark btn-lg" data-mdb-ripple-color="dark">
                                                    Passer à la commande
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    }

        <style>
        @@media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }

        .card-registration .select-arrow {
        top: 13px;
        }

        .bg-grey {
        background-color: #eae8e8;
        }

        @@media (min-width: 992px) {
        .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        }
        }

        @@media (max-width: 991px) {
        .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        }
        }

    .submit-button {
        border: none;
        background: none;
        padding: 0;
    }

</style>
