@model Projet_Web_Commerce.Models.PPProduits

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Produits</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Photo de l’article :
        </dt>
        <dd class="col-sm-10">
            <img src="~/Logo/@(Model.Photo)" alt="@(Model.Photo)" width="140" height="200" />
        </dd>

        <dt class="col-sm-2">
            Nom du produit :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt class="col-sm-2">
            Description plus élaborée :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            Catégorie du produit :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PPCategories.Description)
        </dd>

        <dt class="col-sm-2">
            Prix demandé :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixDemande) $
        </dd>

        <dt class="col-sm-2">
            Catégorie du produit :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PPCategories.Description)
        </dd>

        <dt class="col-sm-2">
            Catégorie du produit :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PPCategories.Description)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NoProduit">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
