@model Projet_Web_Commerce.Models.PPProduits

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PPProduits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMAJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMAJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixDemande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixDemande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPVendeurs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPVendeurs.NoVendeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPCategories.NoCategorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NoProduit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
