@using Microsoft.AspNetCore.Identity
@using Projet_Web_Commerce.Data
@inject UserManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> _userManager
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager
@inject AuthDbContext _context
@model dynamic
@using System.IO
@inject IWebHostEnvironment env
@{
    ViewData["Title"] = "Details";
    var user = await _userManager.GetUserAsync(User);

    var vendeur = Model.PPVendeurs.NomAffaires;
    int numRating = 0;

    int noVendeur = 0;
    string emailDest = "";

    if (Model.NoVendeur != null)
    {
        noVendeur = Model.NoVendeur;
        emailDest = _context.PPVendeurs.Where(v => v.NoVendeur == noVendeur).FirstOrDefault().AdresseEmail;
    }
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

@section scripts{
    <script type="text/javascript">
        function Etoiles(valeur) {
            document.getElementById("newRating").value=valeur + 1
            for (var i = 0; i < 5; i++){
                if (i <= valeur) {
                    document.getElementById(i.toString()).src = "/data/images/iconeEtoileJaune.png"
                }
                else {
                    document.getElementById(i.toString()).src = "/data/images/iconeEtoile.png"
                }
            }
        }

        function envoyerCourriel(noProduit, nom) {
            // You can access event and noProduit here

            var sujet = nom + ' - ' + noProduit;

            window.location.href = '@Url.Action("EnvoyerMessage", "Messagerie")' + '?emailDest=' + '@emailDest' + '&sujet=' + sujet;

            // Swal.fire({
            //     title: 'Courriel à envoyer au vendeur',
            //     html: `<input id="sujet" style="width:550;" class="swal2-input" value="${sujet}" readonly/>
            //             <textarea id="message" style="resize:none;width:550;height:200;" class="swal2-input" ></textarea>`,
            //     showCancelButton: true,
            //     confirmButtonText: 'Envoyer',
            //     cancelButtonText: 'Annuler',
            //     showLoaderOnConfirm: true,
            //     width: '800px',
            //     allowOutsideClick: () => !Swal.isLoading(),
            //     preConfirm: () => {
            //         var url = "/PPProduitsController/ValiderAsync?" + $.param({ noVendeur: @noVendeur, sujet: sujet, message: message })
            //         return fetch(url)
            //             .then(response => {
            //                 if (!response.ok) {
            //                     throw new Error(response.statusText);
            //                 }
            //                 return response.json();
            //             })
            //             .then(data => {
            //                 console.log('Response from ValiderWithNumber:', data);
            //             })
            //             .catch(error => {
            //                 console.error('Error:', error);
            //                 Swal.showValidationMessage('Validation failed');
            //             });
            //     },
            // }).then((result) => {
            //     if (result.isConfirmed) {
            //         Swal.fire({
            //             title: "Envoyé!",
            //             text: "Le courriel a été envoyé avec succès",
            //             icon: "success"
            //         }).then(() => {
            //             location.reload();
            //         });
            //     }
            // });
        }
    </script>
}

@if (User.IsInRole("Client"))
{
    <div onclick="envoyerCourriel(@Model.NoProduit, '@Model.Nom')">
        <p>Rejoindre le vendeur par courriel</p>
        <svg fill="#000000" height="32px" width="32px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 75.294 75.294" xml:space="preserve">
            <g>
                <path d="M66.097,12.089h-56.9C4.126,12.089,0,16.215,0,21.286v32.722c0,5.071,4.126,9.197,9.197,9.197h56.9
                c5.071,0,9.197-4.126,9.197-9.197V21.287C75.295,16.215,71.169,12.089,66.097,12.089z M61.603,18.089L37.647,33.523L13.691,18.089
                H61.603z M66.097,57.206h-56.9C7.434,57.206,6,55.771,6,54.009V21.457l29.796,19.16c0.04,0.025,0.083,0.042,0.124,0.065
                c0.043,0.024,0.087,0.047,0.131,0.069c0.231,0.119,0.469,0.215,0.712,0.278c0.025,0.007,0.05,0.01,0.075,0.016
                c0.267,0.063,0.537,0.102,0.807,0.102c0.001,0,0.002,0,0.002,0c0.002,0,0.003,0,0.004,0c0.27,0,0.54-0.038,0.807-0.102
                c0.025-0.006,0.05-0.009,0.075-0.016c0.243-0.063,0.48-0.159,0.712-0.278c0.044-0.022,0.088-0.045,0.131-0.069
                c0.041-0.023,0.084-0.04,0.124-0.065l29.796-19.16v32.551C69.295,55.771,67.86,57.206,66.097,57.206z" />
            </g>
        </svg>
    </div>
}
@if (!SignInManager.IsSignedIn(User) )
{
    Console.WriteLine("yes");
    <div class="alert alert-warning" role="alert">
        Vous devez vous connecter avant de pouvoir voir les détails.
    </div>
    <text>
        <script>
            debugger;
            window.location.href = '/PPProduits/ErrorProduit';
        </script>
    </text>
}
else
{
    <h1>Détails</h1>

    <div>
        <h4>Produits</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Photo de l’article :
            </dt>
            @{
                var path = System.IO.Path.Combine(env.WebRootPath, "data/images", Model.Photo);
                string imagePath = Model.Photo != null && File.Exists(path) ? $"~/data/images/{Model.Photo}" : "~/data/images/DefaultImage.png";
                Console.WriteLine("FILE Name : " + Model.Photo);
                Console.WriteLine("FILE : " + File.Exists(path));
                PPClients client = null;
            }

            
            <dd class="col-sm-10">
                <img src="@Url.Content(imagePath)" alt="@Model.Photo" width="140" height="200" />
            </dd>

            <dt class="col-sm-2">
                Nom du produit :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.Nom</p>
            </dd>

            <dt class="col-sm-2">
                Description plus élaborée :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.Description</p>
            </dd>

            <dt class="col-sm-2">
                Catégorie du produit :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.PPCategories.Description</p>
            </dd>

            <dt class="col-sm-2">
                Prix demandé :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.PrixDemande $</p>
            </dd>

            <dt class="col-sm-2">
                Disponible ?
            </dt>
            @if (@Model.Disponibilite == true)
            {
                <dd class="col-sm-10">
                    Oui
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Non
                </dd>
            }

            <dt class="col-sm-2">
                Poids de l’article :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.Poids Kg</p>
            </dd>

            <dt class="col-sm-2">
                Nombre d’items :
            </dt>
            <dd class="col-sm-10">
                <p>@Model.NombreItems</p>
            </dd>

            <dt class="col-sm-2">
                Prix de vente : 
            </dt>
            @if (Model.PrixVente != null)
            {
                <dd class="col-sm-10">
                    <p>@Model.PrixVente $</p>
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Le prix de vente n'est pas précisée
                </dd>
            }

            <dt class="col-sm-2">
                Date de vente :
            </dt>
            @if (Model.DateVente != null)
            {
                <dd class="col-sm-10">
                    <p>@Model.DateVente</p>
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    La date de vente n'est pas précisée
                </dd>
            }

            @if (User.IsInRole("Client"))
            {
                client = _context.PPClients.Where(c => c.AdresseEmail == user.Email).FirstOrDefault();

                <form asp-controller="MainMenu" id="formAjoutPanier" asp-action="AjoutPanier" method="post">
                    <input type="hidden" name="NoProduit" value="@Model.NoProduit" />
                    <input type="hidden" name="NoClient" value="@client.NoClient" />
                    <input type="hidden" name="NoVendeur" value="@Model.NoVendeur" />

                    @if (ViewBag.source == "vendeur")
                    {
                        <input type="hidden" name="source" value="vendeur" />
                        <input type="hidden" name="nomAffaire" value="@ViewBag.nomAffaire" />
                        <input type="hidden" name="premiereConnexion" value="@ViewBag.premiereConnexion" />
                    }
                    else
                    {
                        <input type="hidden" name="source" value="tous" />
                    }
                    <input type="hidden" name="searchString" value="@ViewBag.searchString" />
                    <input type="hidden" name="parPage" value="@ViewBag.parPage" />
                    <input type="hidden" name="searchCat" value="@ViewBag.searchCat" />
                    <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
                    <input type="hidden" name="dateApres" value="@ViewBag.dateApres" />
                    <input type="hidden" name="dateAvant" value="@ViewBag.dateAvant" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.sortOrder" />

                    <button class="btn btn-secondary" type="submit">Ajouter au panier</button>
                    <select name="quantite">
                        @for (int i = 1; i <= Model.NombreItems && i < 21; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </form>
            }

        </dl>
    </div>
    <div>
        @if ( !User.IsInRole("Vendeur") && vendeur != null)
        {

            <form asp-controller="PPProduits" asp-route-id="@Model.NoProduit" asp-action="Details" method="post">

                @if (ViewBag.source == "vendeur")
                {
                    <input type="hidden" name="source" value="vendeur" />
                    <input type="hidden" name="nomAffaire" value="@ViewBag.nomAffaire" />
                    <input type="hidden" name="premiereConnexion" value="@ViewBag.premiereConnexion" />
                }
                else
                {
                    <input type="hidden" name="source" value="tous" />
                }
                <input type="hidden" name="searchString" value="@ViewBag.searchString" />
                <input type="hidden" name="parPage" value="@ViewBag.parPage" />
                <input type="hidden" name="searchCat" value="@ViewBag.searchCat" />
                <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
                <input type="hidden" name="dateApres" value="@ViewBag.dateApres" />
                <input type="hidden" name="dateAvant" value="@ViewBag.dateAvant" />
                <input type="hidden" name="sortOrder" value="@ViewBag.sortOrder" />

                <button type="submit" style="background: none; border: none; padding: 0; color: #069; text-decoration: underline; cursor: pointer;">Retour au catalogue du vendeur</button>

                @*<button type="submit" class="btn btn-secondary mt-auto" style="margin-bottom:10px; background-color:@backgroundButtonDetail; color: @textButtonDetail">Details</button>*@

            </form>

            

        }
        else
        {
            <a asp-action="Edit" asp-route-id="@Model?.NoProduit">Modifier</a>
            <text> | </text>
            <a asp-action="Index">Retour à la liste</a>
        }
    </div>

    client = _context.PPClients.Where(c => c.AdresseEmail == user.Email).FirstOrDefault();
    var lstReview = _context.PPEvaluations.ToList();
    bool trouve = false;
    PPEvaluations evalClientActu = null;
    int noProduit = Model.NoProduit;

    @if (User.IsInRole("Client"))
    {
        evalClientActu = _context.PPEvaluations.Where(e => e.NoClient == client.NoClient && e.NoProduit == noProduit).FirstOrDefault();
    }


    if (evalClientActu != null)
    {
        trouve = true;
    }

    if (trouve)
    {
        numRating = (int)evalClientActu.Cote;
    }

    <div class="row">
        <div class="col-md-4">
            <h2>
                Évaluations pour @vendeur
            </h2>
            @if (trouve && User.IsInRole("Client"))
            {
                <h5>Modifier votre évaluation</h5>
            }
            else if (User.IsInRole("Client"))
            {
                <h5>Ajouter une évaluation</h5>
            }
            <div class="col">
                @if (User.IsInRole("Client"))
                {

                    @for (int i = 0; i < numRating; i++)
                    {
                        <button onclick="Etoiles(@i)" style="border: 0; background-color:transparent">
                            <img id="@i" src="~/data/images/iconeEtoileJaune.png" width="25" height="25" />
                        </button>
                    }
                    @for (int i = numRating; i < 5; i++)
                    {
                        <button onclick="Etoiles(@i)" style="border: 0; background-color:transparent">
                            <img id="@i" src="~/data/images/iconeEtoile.png" width="25" height="25" />
                        </button>
                    }
                    <br />
                    <form asp-route-id="@Model.NoProduit" asp-route-noClient="@client.NoClient" asp-route-ajout="L" asp-route-eval="@trouve">

                        @if (ViewBag.source == "vendeur")
                        {
                            <input type="hidden" name="source" value="vendeur" />
                            <input type="hidden" name="nomAffaire" value="@ViewBag.nomAffaire" />
                            <input type="hidden" name="premiereConnexion" value="@ViewBag.premiereConnexion" />
                        }
                        else
                        {
                            <input type="hidden" name="source" value="tous" />
                        }
                        <input type="hidden" name="searchString" value="@ViewBag.searchString" />
                        <input type="hidden" name="parPage" value="@ViewBag.parPage" />
                        <input type="hidden" name="searchCat" value="@ViewBag.searchCat" />
                        <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
                        <input type="hidden" name="dateApres" value="@ViewBag.dateApres" />
                        <input type="hidden" name="dateAvant" value="@ViewBag.dateAvant" />
                        <input type="hidden" name="sortOrder" value="@ViewBag.sortOrder" />

                        <input type="hidden" name="rating" id="newRating" />
                        @if (evalClientActu != null)
                        {
                            <textarea rows="4" cols="50" name="msg" placeholder="Modifier votre commentaire">@evalClientActu.Commentaire</textarea>
                            <button class="btn btn-secondary" style="background-color:#7C6992; color:#F9E547" type="submit">Modifier votre évaluation</button>
                        }
                        else
                        {
                            <textarea rows="4" cols="50" name="msg" placeholder="Ajouter un commentaire"></textarea>
                            <button class="btn btn-secondary" style="background-color:#7C6992; color:#F9E547" type="submit">Ajouter une évaluation</button>
                        }
                    </form>
                }
                <hr style="border-top: 3px solid gray" />
                <h3>Évaluations:</h3>
                @if (trouve)
                {
                    int cote = (int)evalClientActu.Cote;
                    <div class="evaluation">
                        <h6>
                            (Vous) @client.AdresseEmail
                            @for (int i = 0; i < cote; i++)
                            {
                                <img src="~/data/images/iconeEtoileJaune.png" width="15" height="15" />
                            }
                            @for (int i = cote; i < 5; i++)
                            {
                                <img src="~/data/images/iconeEtoile.png" width="15" height="15" />
                            } :
                        </h6>
                        @if (evalClientActu.Commentaire != "" && evalClientActu.Commentaire != null)
                        {
                            <p>@evalClientActu.Commentaire</p>
                        }
                        else
                        {
                            <p style="color:gray">Aucune commentaire</p>
                        }
                    </div>
                }

                @if (lstReview.Where(r=>r.NoProduit == Model.NoProduit).ToList().Count > 0)
                {
                    @foreach (var review in User.IsInRole("Client") ? lstReview.Where(r => r.NoClient != client.NoClient && r.NoProduit == Model.NoProduit) : lstReview.Where(r=>r.NoProduit == Model.NoProduit))
                    {
                        var unClient = _context.PPClients.Where(c => c.NoClient == review.NoClient).FirstOrDefault();

                        int cote = (int)review.Cote;

                        <div class="evaluation">
                            <h6>
                                @unClient.AdresseEmail
                                @for (int i = 0; i < cote; i++)
                                {
                                    <img src="~/data/images/iconeEtoileJaune.png" width="15" height="15" />
                                }
                                @for (int i = cote; i < 5; i++)
                                {
                                    <img src="~/data/images/iconeEtoile.png" width="15" height="15" />
                                } :
                            </h6>
                            @if (review.Commentaire != "" && review.Commentaire != null)
                            {
                                <p>@review.Commentaire</p>
                            }
                            else
                            {
                                <p>Aucun commentaire</p>
                            }
                        </div>
                    }
                }
                else
                {
                    <h4>Aucune évaluations</h4>
                }
            </div>
        </div>
    </div>
}