@model IEnumerable<Projet_Web_Commerce.Models.PPCommandes>
@using Projet_Web_Commerce.Data
@inject AuthDbContext _context

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Voici les commandes que vous avez reçues</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    @{
                        string styleContour = "";

                        var montantTot = item.MontantTotAvantTaxes + item.CoutLivraison + item.TPS + item.TVQ;
                    }
                    @if (item.Statut == "P")
                    {
                        styleContour = "border: 5px solid blue; box - sizing:border - box";
                    }

                    <div class="card" >
                        <div class="card-body" style="@styleContour">
                            <h5 class="card-title">Détails des commandes</h5>
                            <p class="card-text">Numéro de la Commande: @item.NoCommande</p>
                            <p class="card-text">Numéro du client: @item.NoClient</p>
                            <p class="card-text">Nombre de connexions du client: @_context.PPVendeursClients.Where(v=>v.NoClient == item.NoClient).Count()</p>
                            <p class="card-text">Montant total avant taxes: @item.MontantTotAvantTaxes $</p>
                            <p class="card-text">Date de la commande: @item.DateCommande</p>
                            <p class="card-text">Poids de la livraison: @item.PoidsTotal Kg</p>
                            <p class="card-text">NoAutorisation: @item.NoAutorisation</p>
                            <p class="card-text">Type de livraison: @_context.PPTypesLivraison.Where(l=>l.CodeLivraison == item.TypeLivraison).FirstOrDefault().Description</p>
                            <p class="card-text">Frais de livraison: @Math.Round(item.CoutLivraison, 2) $</p>
                            <p class="card-text">TPS: @Math.Round(item.TPS, 2) $</p>
                            <p class="card-text">TVQ: @Math.Round(item.TVQ, 2) $</p>
                            <p class="card-text">Montant total de la commande: @Math.Round(montantTot, 2) $</p>
                            @if (item.Statut == "P")
                            {
                                <p class="card-text">Statut: Prêt pour la livraison</p>
                            }
                            else
                            {
                                <p class="card-text">Statut: Livré</p>
                            }
                            @if (item.Statut == "P")
                            {
                                <form asp-controller="PPProduits" asp-action="GestionCommandes" asp-route-noCommande="@item.NoCommande" method="post">
                                    <button type="submit" class="btn btn-success">Comfirmer la livraison</button>
                                </form>
                            }
                            <a style="margin-top:10px" class="btn btn-primary" asp-action="Download" asp-route-id="@item.NoCommande">Télécharger les détails de la commande</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>