<style>
    .pasActif {
        background-color: rgb(249, 229, 71);
        color: rgb(124, 105, 146);
        border-color: rgb(124, 105, 146);
        accent-color: rgb(249, 229, 71);
    }

    .newMsg {
        border-color: rgb();
    }
</style>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(Model == "BoiteDeReception" ? "active" : "pasActif")"
           asp-area="" asp-controller="Messagerie" asp-action="BoiteDeReception">
            Boîte de réception
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "Envoyes" ? "active" : "pasActif")"
           asp-area="" asp-controller="Messagerie" asp-action="Envoyes">
            Envoyés
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "Brouillons" ? "active" : "pasActif")"
           asp-area="" asp-controller="Messagerie" asp-action="Brouillons">
            Brouillons
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == "Supprimes" ? "active" : "pasActif")"
           asp-area="" asp-controller="Messagerie" asp-action="Supprimes">
            Supprimés
        </a>
    </li>
    <li class="nav-item ms-auto">
        <a class="nav-link border-bottom-0 border-3 @(Model == "EnvoyerMessage" ? "active" : "pasActif")" style="border-color: rgb(124, 105, 146)"
           asp-area="" asp-controller="Messagerie" asp-action="EnvoyerMessage">
            <img src="~/data/images/pen.svg" />
        </a>
    </li>
</ul>


@* <div class="container-fluid">
    <div class="row">

        <div class="menu">
            <div class="title">Test</div>
            <ul>
                <li class="item noclick"><div></div></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item active"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item"><i class="fa-solid fa-chart-column"></i></li>
                <li class="item noclick"><div></div></li>
            </ul>
        </div>
    </div>
</div> *@

<!-- Bootstrap JS and jQuery (optional, depending on your needs) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    let items = document.querySelectorAll(".item");

    items.forEach(item => {
        item.addEventListener("click", (event) => {
            items.forEach(item => {
                item.classList.remove("active");
            });

            event.currentTarget.classList.add("active");
        });
    });
</script>
