@model Projet_Web_Commerce.Models.PPHistoriquePaiements

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PPHistoriquePaiements</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantVenteAvantLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantVenteAvantLivraison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoVendeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoVendeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoAutorisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoAutorisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraisLesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraisLesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Redevance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Redevance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraisLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraisLivraison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraisTPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraisTPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FraisTVQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FraisTVQ)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoHistorique" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
