@model IEnumerable<Projet_Web_Commerce.Models.PPHistoriquePaiements>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontantVenteAvantLivraison)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoVendeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoCommande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoAutorisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FraisLesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Redevance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FraisLivraison)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FraisTPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FraisTVQ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontantVenteAvantLivraison)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoVendeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoAutorisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FraisLesi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Redevance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FraisLivraison)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FraisTPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FraisTVQ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoHistorique">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoHistorique">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoHistorique">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
