@using Microsoft.AspNetCore.Identity
@using Projet_Web_Commerce.Areas.Identity.Data
@using Projet_Web_Commerce.Data

@inject AuthDbContext _context

@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

@if (!SignInManager.IsSignedIn(User) || !User.IsInRole("Client"))
{
    Console.WriteLine("yes");
    <text>
        <script>
            debugger;
            window.location.href = '/MainMenu/Catalogue';
        </script>
    </text>
}
else
{
    var user = await UserManager.GetUserAsync(User);
    var client = _context.PPClients.Where(c => c.AdresseEmail == user.Email).FirstOrDefault();
    var lstReview = _context.PPEvaluations.ToList();

    int id = ViewBag.idProduit;
    var rating = ViewBag.rating;
    int numRating = 0;
    bool trouve = false;
    PPEvaluations evalClientActu = _context.PPEvaluations.Where(e=>e.NoClient==client.NoClient && e.NoProduit == id).FirstOrDefault();


    if (evalClientActu != null)
    {
        trouve = true;
    }

    if (trouve)
    {
        numRating = (int)evalClientActu.Cote;
    }

    if (rating != null)
    {
        numRating = rating;
    }

    <div class="row">
        <div class="col-md-4">
            @if (trouve)
            {
                <h5>Modifier votre évaluation</h5>
            }
            else
            {
                <h5>Ajouter une évaluation</h5>
            }
            <div class="col">
                @if (User.IsInRole("Client"))
                {
                    <form asp-route-id="@id" id="eval" method="post">
                        @for (int i = 0; i < numRating; i++)
                        {
                            <button type="submit" name="rating" value="@i" style="border: none">
                                <img src="~/Logo/iconeEtoileJaune.png" width="25" height="25" />
                            </button>
                        }
                        @for (int i = numRating; i < 5; i++)
                        {
                            <button type="submit" name="rating" value="@i" style="border: none">
                                <img src="~/Logo/iconeEtoile.png" width="25" height="25" />
                            </button>
                        }
                    </form>
                    <br />
                    <form asp-route-id="@id" asp-route-noClient="@client.NoClient" asp-route-eval="@trouve" asp-route-rating="@numRating" asp-action="Edit">
                        @if (evalClientActu != null)
                        {
                            <textarea rows="4" cols="50" name="msg" placeholder="Modifier votre commentaire">@evalClientActu.Commentaire</textarea>
                            <button class="btn btn-secondary" style="background-color:#7C6992; color:#F9E547" type="submit">Modifier votre évaluation</button>
                        }
                        else
                        {
                            <textarea rows="4" cols="50" name="msg" placeholder="Ajouter un commentaire"></textarea>
                            <button class="btn btn-secondary" style="background-color:#7C6992; color:#F9E547" type="submit">Ajouter une évaluation</button>
                        }
                    </form>
                    <br style="border-top: 3px solid #bbb" />
                    <h3>Évaluations:</h3>
                }
                else
                {
                    <h3>Vos évaluations:</h3>
                }

                @if (trouve)
                {
                    int cote = (int)evalClientActu.Cote;
                    <h6>
                        @client.AdresseEmail 
                        @for (int i = 0; i < cote; i++)
                        {
                            <button type="submit" name="rating" value="@i" style="border: none">
                                <img src="~/Logo/iconeEtoileJaune.png" width="15" height="15" />
                            </button>
                        }
                        @for (int i = cote; i < 5; i++)
                        {
                            <button type="submit" name="rating" value="@i" style="border: none">
                                <img src="~/Logo/iconeEtoile.png" width="15" height="15" />
                            </button>
                        } :
                    </h6>
                    if(evalClientActu.Commentaire != "" && evalClientActu.Commentaire != null)
                    {
                        <p>@evalClientActu.Commentaire</p>
                    }
                    else
                    {
                        <p style="color:gray">Aucune commentaire</p>
                    }
                }
                
                @if (lstReview.Count > 0)
                {
                    @foreach (var review in lstReview.Where(r => r.NoClient != client.NoClient && r.NoProduit == id))
                    {
                        var unClient = _context.PPClients.Where(c => c.NoClient == review.NoClient).FirstOrDefault();

                        int cote = (int)review.Cote;

                        <h6>(Vous) @unClient.AdresseEmail (@cote étoiles) :</h6>
                        if (review.Commentaire != "" && review.Commentaire != null)
                        {
                            <p>@review.Commentaire</p>
                        }
                        else
                        {
                            <p>Aucun commentaire</p>
                        }
                    }
                }
                else
                {
                    <h4>Aucune évaluations</h4>
                }
            </div>
        </div>
    </div>
}