@model Projet_Web_Commerce.API.PostResponseCommander

    <h1>Votre commande à été effectuée
    </h1>

    <div>
        <h4>No Autorisation: @ViewBag.NoAutorisation</h4>
    <h4>Date Autorisation: @ViewBag.DateAutorisation</h4>
    <h4>Frais Marchand: @ViewBag.FraisMarchand</h4>
    <h4>Info Supplémentaire: @ViewBag.InfoSuppl</h4>

    <a class="btn btn-primary" asp-controller="PPHistoriquePaiements" asp-action="Download" asp-route-id="@ViewBag.NoCommande">Télécharger le reçu</a>

    <a asp-controller="MainMenu"
       asp-action="Catalogue"
       class="btn btn-secondary" style="background-color:#808080; color: #FFFFFF; width:auto; margin-top:10px; margin-left:12px">
        Retour au catalogue
    </a>
    </div>
