@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Projet_Web_Commerce.Models.ModelConfirmerCommande
@using Projet_Web_Commerce.Data
﻿﻿@using Microsoft.AspNetCore.Identity

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


@using (Html.BeginForm("ConfirmerCommande", "Commande", FormMethod.Post))
{
    @Html.HiddenFor(model => model.NoClient)
    @Html.HiddenFor(model => model.NoVendeur)

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Panier associé à @Model.vendeur.NomAffaires</h1>
                                    </div>

                                    <h4 class="fw-bold mb-5 mt-2 pt-1">Information d'expédition</h4>
                                    <hr class="my-4">
                                        <div class="row mb-4 d-flex align-items-center justify-content-center">
                                            <div class="col-md-3 col-lg-2 col-xl-6">
                                                <div class="form-floating mb-1">
                                                    <input asp-for="@Model.NomClient" class="form-control" placeholder="Veuillez entrer votre nom." />
                                                    <label asp-for="@Model." class="form-label"></label>
                                                    <span asp-validation-for="@Model.NomClient" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-lg-2 col-xl-6">
                                                <div class="form-floating mb-1">
                                                    <input asp-for="@Model.PrenomClient" class="form-control" placeholder="Veuillez entrer votre nom." />
                                                    <label  class="form-label">Prénom</label>
                                                    <span asp-validation-for="@Model.PrenomClient" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-3 col-lg-2 col-xl-9">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="@Model.AdresseClient" readonly class="form-control" placeholder="Veuillez entrer votre adresse courriel." />
                                                    <label asp-for="@Model.AdresseClient" class="form-label">Adresse Courriel</label>
                                                    <span asp-validation-for="@Model.AdresseClient" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-lg-2 col-xl-3">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="@Model.TelClient" class="form-control" placeholder="Veuillez entrer votre numéro de téléphone." />
                                                    <label class="form-label">Téléphone</label>
                                                    <span asp-validation-for="@Model.TelClient" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-3 col-lg-2 col-xl-8">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="@Model.RueClient" class="form-control" placeholder="Veuillez entrer votre rue." />
                                                    <label asp-for="@Model.RueClient" class="form-label">Rue</label>
                                                    <span asp-validation-for="@Model.RueClient" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-lg-2 col-xl-4">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="@Model.VilleClient" class="form-control" placeholder="Veuillez entrer votre ville." />
                                                    <label class="form-label">Ville</label>
                                                    <span asp-validation-for="@Model.VilleClient" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-3 col-lg-2 col-xl-4">
                                            <div class="form-floating mb-3">
                                                    <input asp-for="@Model.client.Pays" readonly class="form-control" placeholder="Veuillez entrer votre pays." />
                                                <label asp-for="@Model.client.Pays" class="form-label"></label>
                                                <span asp-validation-for="@Model.client.Pays" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-4">
                                            <div class="form-floating mb-3">
                                                <select asp-for="@Model.ProvinceCLient" class="form-select" placeholder="Veuillez entrer votre province.">
                                                    <option value="">Select Province</option>
                                                    @foreach (var province in ViewBag.Provinces)
                                                    {
                                                        <option value="@province.ProvinceID">@province.Nom</option>
                                                    }
                                                </select>
                                                <label asp-for="@Model.client.NoProvince" class="form-label">Province</label>
                                                    <span asp-validation-for="@Model.ProvinceCLient" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="@Model.PostalClient" class="form-control" placeholder="Veuillez entrer votre code postal." />
                                                    <label asp-for="@Model.PostalClient" class="form-label">Code Postal</label>
                                                    <span asp-validation-for="@Model.PostalClient" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="fw-bold mb-5 mt-2 pt-1">Information de paiement</h4>
                                    <hr class="my-4">

                                    <div class="row mb-4 d-flex justify-content-between align-items-center">

                                        <div class="col-md-3 col-lg-2 col-xl-6">
                                            <div class="form-floating mb-3">
                                                <input asp-for="@Model.NoCarte" class="form-control" placeholder="Veuillez entrer votre numéro de carte de crédit." />
                                                <label asp-for="@Model.NoCarte" class="form-label">Numéro de carte de crédit</label>
                                                <span asp-validation-for="@Model.NoCarte" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-3">
                                            <div class="form-floating mb-3">
                                                <input asp-for="@Model.dateExpiration" class="form-control" placeholder="Veuillez entrer la date d'expiration de la carte." />
                                                <label asp-for="@Model.dateExpiration" class="form-label">Expir. (MM-AAAA)</label>
                                                <span asp-validation-for="@Model.dateExpiration" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-3">
                                            <div class="form-floating mb-3">
                                                <input asp-for="@Model.CVV" class="form-control" placeholder="Veuillez entrer le numéro CVC ou CVV de la carte." pattern="[0-9]*" />
                                                <label asp-for="@Model.CVV" class="form-label">CVC ou CVV</label>
                                                <span asp-validation-for="@Model.CVV" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a class="nav-link text-body" asp-area="" asp-controller="Panier" asp-action="Index" asp-route-id="@Model.vendeur.NoVendeur">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Retour à mon panier
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Confirmation de la commande</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Sous Total</h5>
                                        <h5>@Html.DisplayFor(m => m.sousTotal) $</h5>
                                    </div>



                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Poids Total</h5>
                                        <h5>@Html.DisplayFor(m => m.poidsTotal) Kg</h5>
                                    </div>

                                    <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Frais de livraison</h5>
                                            <h5>@Html.DisplayFor(m => m.FraisLivraison) $</h5>
                                         </div>

                                        @if (Model.sousTotal > Model.vendeur.LivraisonGratuite)
                                    {
                                            <h5 class="text-uppercase text-center" style="color:red; font-size:15px">Éligible pour la livraison gratuite.</h5>

                                    }



                                    <div class="form-floating mb-3">
                                        <select asp-for="@Model.TypeLivraison" onchange="this.form.submit()"class="form-select" placeholder="Veuillez choisir un type de livraison.">
                                            @foreach (var types in ViewBag.TypesLivraison)
                                            {
                                                    <option value="@types.CodeLivraison">
                                                        @types.Description
                                                        @if (Model.sousTotal > Model.vendeur.LivraisonGratuite && types.CodeLivraison == 1)
                                                        {
                                                            @: (Gratuit)
                                                        }
                                                    </option>
                                            }
                                        </select>
                                        <label asp-for="@Model.TypeLivraison" class="form-label">Type Livraison</label>
                                    </div>
                                    <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <h5 class="text-uppercase">Solde à payer</h5>
                                            <h5>@Html.DisplayFor(m => m.total) $</h5>
                                        </div>

                                    <hr class="my-4">
                                    <div class="text-center">
                                    @if (Model.poidsTotal > Model.vendeur.PoidsMaxLivraison)
                                    {

                                        <h5 class="text-uppercase" style="color:red; font-size:15px">Votre commande dépasse le poids maximal pour la livraison. Assurez vous que le poids total de votre commande est sous @Model.vendeur.PoidsMaxLivraison Kg</h5>
                                    }
                                    else if (Model.total < 5)
                                    {
                                        <h5 class="text-uppercase" style="color:red; font-size:15px">La solde de la commande doit être d'au moins 5$</h5>
                                    }
                                    else
                                    {
                                                <form asp-route-payer="true" asp-controller="Commande" asp-action="ConfirmerCommande" method="post">
                                                    <!-- Your input fields for ModelConfirmerCommande -->
                                                    <input type="hidden" name="NoVendeur" value="@Model.NoVendeur" />
                                                    <input type="hidden" name="NomVendeur" value="@Model.vendeur.NomAffaires" />
                                                    <input type="hidden" name="NoCarteCredit" value="@Model.NoCarte" />
                                                    

                                                    <input type="hidden" name="total" value="@Model.total" />
                                                    <!-- Add other hidden input fields for other properties of ModelConfirmerCommande -->
                                                    <!-- Your submit button -->
                                                    <button type="submit" asp-route-payer="true" asp-action="ConfirmerCommande" asp-controller="Commande" class="btn btn-dark btn-lg" data-mdb-ripple-color="dark">Commander</button>
                                                </form>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}

<style>
    @@media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .bg-grey {
        background-color: #eae8e8;
    }

    @@media (min-width: 992px) {
        .card-registration-2 .bg-grey {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }

    @@media (max-width: 991px) {
        .card-registration-2 .bg-grey {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }

    .submit-button {
        border: none;
        background: none;
        padding: 0;
    }

</style>
