@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@model Projet_Web_Commerce.Models.ModelCatalogueVendeur
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager

@{
    var productList = SignInManager.IsSignedIn(User) ? Model.ProduitsList : Model.NouveauxProduits;
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="filter_multi_select.css" />



<div class="row" >
    <div class="col">
        <section>
            @if (SignInManager.IsSignedIn(User))
            {
                <h3>Liste de tout les produits @Model.nomAffaire </h3>

                @using (Html.BeginForm("CatalogueVendeur", "MainMenu", FormMethod.Post))
                {
                    @Html.Hidden("id", Model.nomAffaire)
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-start">

                            <div class="flex-grow-1">
                                <div class="input-group" style="width:400px;">
                                    <!-- Adjust width and remove margin -->
                                    @Html.TextBox("SearchString", null, new { placeholder = "Rechercher", @class = "form-control" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="bi bi-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 d-flex align-items-start">
                            <select multiple name="language" id="languages">
                                <option value="js">JavaScript</option>
                                <option value="html">HTML</option>
                                <option value="css">CSS</option>
                                ... more options here ...
                            </select>
                        </div>


                        <div class="col-md-2">
                            <select class="form-select btn-secondary" style="background-color: rgb(124, 105, 146);" aria-label="Trier par" id="sortOrder" name="sortOrder">
                                <option value="dateAsc" selected="@(ViewBag.sortOrder == "dateAsc")">Date de parution &#8593;</option>
                                <option value="dateDesc" selected="@(ViewBag.sortOrder == "dateDesc")">Date de parution &#8595;</option>
                                <option value="numProdAsc" selected="@(ViewBag.sortOrder == "numProdAsc")">Numéro de produit &#8593;</option>
                                <option value="numProdDesc" selected="@(ViewBag.sortOrder == "numProdDesc")">Numéro de produit &#8595;</option>
                                <option value="catProdAsc" selected="@(ViewBag.sortOrder == "catProdAsc")">Catégorie particulière de produit &#8593;</option>
                                <option value="catProdDesc" selected="@(ViewBag.sortOrder == "catProdDesc")">Catégorie particulière de produit &#8595;</option>
                                <option value="descProdAsc" selected="@(ViewBag.sortOrder == "descProdAsc")">Description du produit &#8593;</option>
                                <option value="descProdDesc" selected="@(ViewBag.sortOrder == "descProdDesc")">Description du produit &#8595;</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <button type="submit" style="color: rgb(249, 229, 71) ; background-color: rgb(124, 105, 146);" class="btn btn-secondary">Rechercher</button>

                            <div class="float-end">
                                <select class="form-select btn-secondary" style="background-color: rgb(124, 105, 146); width:100px" aria-label="Trier par" id="parPage" name="parPage">
                                    <option value="6" selected="@(ViewBag.parPage == "6")">6</option>
                                    <option value="9" selected="@(ViewBag.parPage == "9")">9</option>
                                    <option value="12" selected="@(ViewBag.parPage == "12")">12</option>
                                    <option value="15" selected="@(ViewBag.parPage == "15")">15</option>
                                    <option value="21" selected="@(ViewBag.parPage == "21")">21</option>
                                    <option value="30" selected="@(ViewBag.parPage == "30")">30</option>
                                    <option value="60" selected="@(ViewBag.parPage == "60")">60</option>
                                    <option value="Tous" selected="@(ViewBag.parPage == "tous")">Tous</option>
                                </select>
                            </div>
                        </div>

                    </div>
                }
            }
            else
            {
                <h3>Liste des nouveaux produits </h3>
                <a asp-area="Identity" asp-page="/Account/Register">Cliquez ici pour devenir client et accéder à tout le catalogue du vendeur</a>
            }

            
            <div class="container mt-4">
                @if (Model != null && Model.ProduitsList.Any())
                {
                    <div class="container mt-4">
                        <div class="row">
                            @foreach (var item in productList)
                                        {
                                <div class="col-lg-4 mb-4 col-md-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body" style="justify-content: center; display: flex;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5 class="card-text">@Html.DisplayFor(modelItem => item.Nom)</h5>
                                                </div>
                                                @if (!SignInManager.IsSignedIn(User))
                                                {
                                                    <div class="col-md-6">
                                                        <h5 class="card-text float-end" style="color: orangered">Nouveau !</h5>
                                                    </div>
                                                }
                                                <img src="~/Logo/@(item.Photo)" alt="./Logo/@(item.Photo)" width="200" height="200" />
                                                @{
                                                    var category = Model.CategoriesList.FirstOrDefault(c => c.NoCategorie == item.NoCategorie);
                                                }
                                                <p class="card-text">Catégorie : @category.Description</p>
                                                <p class="card-title">Numéro du produit : @Html.DisplayFor(modelItem => item.NoProduit)</p>
                                                <p class="card-text">Prix Demandé : @Html.DisplayFor(modelItem => item.PrixDemande)</p>
                                                <p class="card-text">Prix Demandé : @Html.DisplayFor(modelItem => item.NombreItems)</p>
                                                <a asp-controller="PPProduits"
                                                   asp-route-id="@item.NoProduit"
                                                   asp-action="Details"
                                                   class="btn btn-primary">
                                                    Details
                                                </a>

                                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Client") && item.NombreItems > 0)
                                                {
                                                    <form asp-controller="MainMenu" asp-action="AjoutPanier" method="post">
                                                        <input type="hidden" name="NoProduit" value="@item.NoProduit" />
                                                        <input type="hidden" name="NoClient" value="@Model.noClient" />
                                                        <input type="hidden" name="NoVendeur" value="@item.NoVendeur" />
                                                        <br>
                                                        <button type="submit" class="btn btn-secondary">Ajouter au panier</button>
                                                        <select name="quantite">
                                                            @for (int i = 1; i <= @item.NombreItems; i++)
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        </select>
                                                    </form>
                                                }
                                                else if (SignInManager.IsSignedIn(User) && User.IsInRole("Client") && item.NombreItems == 0)
                                                {
                                                    <p style="color:red; font-weight:bold">En rupture de stock</p>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>Aucun produits.</p>
                }
            </div>
        </section>
    </div>
</div>

@if (Model.ProduitsList.Count > 0)
{
    <div class="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.ProduitsList.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("CatalogueVendeur", new { sortOrder = ViewBag.sortOrder, pageNumber = Model.ProduitsList.PageIndex - 1, parPage = ViewBag.parPage, searchString = ViewBag.searchString, id = ViewBag.id })">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.ProduitsList.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.ProduitsList.PageIndex ? "active" : "")">
                        <a class="page-link" href="@Url.Action("CatalogueVendeur", new { sortOrder = ViewBag.sortOrder, pageNumber = i, parPage = ViewBag.parPage, searchString = ViewBag.searchString, id = ViewBag.id })">@i</a>
                    </li>
                }

                @if (Model.ProduitsList.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("CatalogueVendeur", new { sortOrder = ViewBag.sortOrder, pageNumber = Model.ProduitsList.PageIndex + 1, parPage = ViewBag.parPage, searchString = ViewBag.searchString, id = ViewBag.id })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="~/lib"></script>
