@model Projet_Web_Commerce.Models.ModelCatalogueVendeur
@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject IWebHostEnvironment env

<div class="row">
    <div class="col">
        <section>
            <h3>Liste des nouveaux produits </h3>
            <div class="container mt-4">
                @if (Model != null && Model.ProduitsList.Any())
                {
                    <div class="container mt-4">
                        <div class="row">
                            @foreach (var item in Model.ProduitsList)
                            {
                                <div class="col-lg-4 mb-4 col-md-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body" style="justify-content: center; display: flex;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5 class="card-text">@Html.DisplayFor(modelItem => item.Nom)</h5>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="card-text float-end" style="color: orangered">Nouveau !</h5>
                                                </div>

                                                @{
                                                    var path = System.IO.Path.Combine(env.WebRootPath, "Logo", item.Photo);
                                                    string imagePath = item.Photo != null && File.Exists(path) ? $"~/Logo/{item.Photo}" : "~/Logo/DefaultImage.png";
                                                    Console.WriteLine("FILE Name : " + item.Photo);
                                                    Console.WriteLine("FILE : " + File.Exists(path));
                                                }

                                                <img src="@Url.Content(imagePath)" alt="@item.Photo" width="200" height="200" />
                                               
                                                @{
                                                    var category = Model.CategoriesList.FirstOrDefault(c => c.NoCategorie == item.NoCategorie);
                                                }
                                                <p class="card-text">Catégorie : @category.Description</p>
                                                <p class="card-title">Numéro du produit : @Html.DisplayFor(modelItem => item.NoProduit)</p>
                                                <p class="card-text">Prix Demandé : @Html.DisplayFor(modelItem => item.PrixDemande)</p>
                                                <p class="card-text">Prix Demandé : @Html.DisplayFor(modelItem => item.NombreItems)</p>
                                                <a href="#" class="btn btn-primary">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>Aucun produits.</p>
                }
            </div>
        </section>
    </div>
</div>
