@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model List<Projet_Web_Commerce.Models.PPVendeurs>
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager
@inject UserManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var role = "help";
    if (User.IsInRole("Gestionnaire"))
    {
        role = "Gestionnaire";
    }
    else if (User.IsInRole("Vendeur"))
    {
        role = "Vendeur";
    }
    else
    {
        role = "Client";
    }
}

<div class="row">
    <div class="col">
        <section>
            @if (SignInManager.IsSignedIn(User))
            {
                <h1>Vous êtes connecté @role</h1>

                if (role == "Gestionnaire")
                {
                    <h3>Liste des Vendeurs à confirmer</h3>
                    <div class="container mt-4">
                        @if (role == "Gestionnaire" && Model != null)
                        {
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.AdresseEmail)</h5>
                                                <p class="card-text">No Vendeur: @Html.DisplayFor(modelItem => item.NoVendeur)</p>
                                                <p class="card-text">Date de demande : @Html.DisplayFor(modelItem => item.DateCreation)</p>
                                                <form asp-controller="MainMenu" method="post">
                                                    <input type="hidden" name="NoVendeur" value="@item.NoVendeur" />
                                                    <button type="submit" class="btn btn-primary">Accepter</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <p>Aucun vendeur trouvé avec le statut 0.</p>
                        }
                    </div>
                }
            }
            else
            {
                <h1>Vous n'êtes pas connecté</h1>
            }
        </section>
    </div>
</div>
