@model Projet_Web_Commerce.Models.ModelCatalogue
@using Projet_Web_Commerce.Data
﻿﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> UserManager
@inject SignInManager<Projet_Web_Commerce.Areas.Identity.Data.Utilisateur> SignInManager
@using System.IO
@inject AuthDbContext _context

    @if (!SignInManager.IsSignedIn(User) || User.IsInRole("Vendeur") || User.IsInRole("Gestionnaire"))
    {
        Console.WriteLine("yes");
        <text>
            <script>
                debugger;
                window.location.href = '/MainMenu/Catalogue';
            </script>
        </text>
    }
    else
    {
    <div class="row">
        <div class="col-md-4">
            @if (ViewBag.listPaniers.Count > 0)
            {
                <div class="d-flex flex-wrap align-content-start bg-light overflow-auto" style="margin-bottom:50px; height:600px;">
                    @foreach (var panier in ViewBag.listPaniers)
                    {
                        PPVendeurs vendeur = Model.VendeursList.Where(p => p.NoVendeur == panier.vendeur).FirstOrDefault();

                        <div class="card" style="width:400px; margin: 10px;">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Adresse de courriel :</b>
                                    @Html.DisplayFor(modelItem => vendeur.AdresseEmail)
                                </p>
                                @if (!string.IsNullOrEmpty(vendeur.Prenom))
                                {
                                    <p class="card-text">
                                        <b>Prénom :</b>
                                        @Html.DisplayFor(modelItem => vendeur.Prenom)
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(vendeur.Nom))
                                {
                                    <p class="card-text">
                                        <b>Nom :</b>
                                        @Html.DisplayFor(modelItem => vendeur.Nom)
                                    </p>
                                }
                                <p class="card-text">
                                    @{
                                        int nbItems = 0;

                                        var oldestProductDate = DateTime.Now;
                                        foreach (long produit in panier.articles)
                                        {
                                            PPArticlesEnPanier produitActu = _context.PPArticlesEnPanier.Where(v => v.NoPanier == produit).FirstOrDefault();
                                            if (produitActu.DateCreation < oldestProductDate)
                                            {
                                                oldestProductDate = produitActu.DateCreation;
                                            }
                                            nbItems += produitActu.NbItems;
                                        }
                                    }
                                    <b>Nombre d'items :</b>
                                    @Html.DisplayFor(modelItem => nbItems)
                                </p>
                                <p class="card-text">
                                    <b>Date de création :</b>
                                    @Html.DisplayFor(modelItem => oldestProductDate)
                                </p>
                                <div>
                                    <div>
                                        <a class="btn btn-success" asp-route-id="@vendeur.NoVendeur" asp-area="" asp-controller="Panier" asp-action="Index">Details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p style="margin-bottom:10px">Vous n'avez pas de paniers</p>
                <a asp-controller="MainMenu"
                   asp-action="Catalogue"
                   class="btn btn-secondary" style="background-color:#808080; color: #FFFFFF; width:auto; margin-top:10px; margin-left:12px">
                    Retour au catalogue
                </a>
            }
        </div>
    </div>
    }

